@charset "UTF-8";

a, h1, h2, h3, h4, h5 {
    color: #172a75;
}

img {
    max-width: 100%;
}

.logo {
    width: 315px;
    max-width: 315px;
}

main.home {
    background: url("../images/main_bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

main.page {
    background-image: url("../images/bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.page-title {
    color: #ffffff;
}

.page-head {
    color: #ffffff;
}

.page-head a {
    color: #ffffff;
}

.transparent {
    background: rgba(248, 248, 248, 0.8);
}

@media (max-width: 991px) and (min-width: 768px) {
    main.home {
	background: linear-gradient(rgba(86, 89, 95, 0) 30%, rgba(86, 89, 95, 0.8) 40%, rgba(86, 89, 95, 0.8) 50%, rgba(255, 255, 255, 0.5) 60%), url("../images/main_bg.png");
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center top;
    }
}

@media (max-width: 767px) and (min-width: 576px) {
    main.home {
	background: linear-gradient(rgba(86, 89, 95, 0) 30%, rgba(86, 89, 95, 0.8) 35%, rgba(86, 89, 95, 0.8) 50%, rgba(255, 255, 255, 0.5) 60%), url("../images/main_bg.png");
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center top;
    }
}

@media (max-width: 575px) {
    .logo {
	width: 250px;
	max-width: 250px;
    }

    main.home {
	background: linear-gradient(rgba(86, 89, 95, 0) 25%, rgba(86, 89, 95, 0.8) 30%, rgba(86, 89, 95, 0.8) 40%, rgba(255, 255, 255, 0.5) 55%), url("../images/main_bg.png");
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center top;
    }

    main.page {
	background-size: auto;
	background-position: center top;
    }
}
