@charset "UTF-8";

a, h1, h2, h3, h4, h5 {
    color: #172a75;
}

.logo {
    width: 315px;
}

main.home {
    background: url("../images/main_bg01.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.page-head {
    color: #ffffff;
}

.page-head a {
    color: #ffffff;
}

.transparent {
    background: rgba(248, 248, 248, 0.8);
}

@media (max-width: 991px) and (min-width: 768px) {
    main.home {
	background: linear-gradient(rgba(42, 42, 40, 0) 20%, #2a2a28 25%, #2a2a28 50%, rgba(255, 255, 255, 0.5) 60%), url("../images/main_bg01.png");
	background-size: 100%;
	background-repeat: no-repeat;
    }
}

@media (max-width: 767px) and (min-width: 576px) {
    main.home {
	background: linear-gradient(rgba(42, 42, 40, 0) 8%, #2a2a28 25%, #2a2a28 50%, rgba(255, 255, 255, 0.5) 60%), url("../images/main_bg01.png");
	background-size: 100%;
	background-repeat: no-repeat;
    }
}

@media (max-width: 575px) {
    .logo {
	width: 250px;
    }

    main.home {
	background: linear-gradient(rgba(42, 42, 40, 0) 3%, #2a2a28 5%, #2a2a28 40%, rgba(255, 255, 255, 0.5) 50%), url("../images/main_bg01.png");
	background-size: 100%;
	background-repeat: no-repeat;
    }
}
